canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main{
  position: absolute;
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
} */

.portfolio-section {
  width: 100%;
  height: 80vh; /* 80% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
}

  
/* 
#intro { background: #1e3a8a; }
#about { background: #0f766e; }
#projects { background: #7c3aed; }
#contact { background: #f59e0b; } */

.content {
  max-width: 800px;
  text-align: center;
}

.content h1, .content h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.content p, .content ul {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}
